<mat-card class="theme-card">
    <mat-card-title-group>
        <mat-card-title>Themes</mat-card-title>
        <mat-card-subtitle>Choose your theme</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
        <mat-radio-group aria-label="Select one theme" class="radio-group">
            <mat-radio-button class="radio-button" *ngFor="let theme of themes" [value]="theme.codeName" (change)="changeTheme(theme)">{{theme.name}}</mat-radio-button>
        </mat-radio-group>
    </mat-card-content>
</mat-card>