<mat-card class="example-card">
    <mat-card-title-group>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>Themes</mat-card-title>
        <mat-card-subtitle>Choose your theme</mat-card-subtitle>
    </mat-card-title-group>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
        <mat-radio-group aria-label="Select an option" class="example-radio-group">
            <mat-radio-button class="example-radio-button" value="1">Deep Purple - Amber</mat-radio-button>
            <mat-radio-button class="example-radio-button" value="2">Indigo - Pink</mat-radio-button>
            <mat-radio-button class="example-radio-button" value="3">Pink - Blue Grey</mat-radio-button>
            <mat-radio-button class="example-radio-button" value="4">Purple - Green</mat-radio-button>
        </mat-radio-group>
    </mat-card-content>
    <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions> -->
</mat-card>