@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$deepPurple-app-primary: mat-palette($mat-deep-purple);
$deepPurple-app-accent:  mat-palette($mat-amber);
$deepPurple-app-theme:   mat-light-theme($deepPurple-app-primary, $deepPurple-app-accent);

// Include the default theme styles.
@include angular-material-theme($deepPurple-app-theme);

// Define the default theme (same as the example above).
$indigo-app-primary: mat-palette($mat-indigo);
$indigo-app-accent:  mat-palette($mat-pink);
$indigo-app-theme:   mat-light-theme($indigo-app-primary, $indigo-app-accent);

// Define the default theme (same as the example above).
$pink-app-primary: mat-palette($mat-pink);
$pink-app-accent:  mat-palette($mat-blue-grey);
$pink-app-theme:   mat-light-theme($pink-app-primary, $pink-app-accent);

// Define the default theme (same as the example above).
$purple-app-primary: mat-palette($mat-purple);
$purple-app-accent:  mat-palette($mat-green);
$purple-app-theme:   mat-light-theme($purple-app-primary, $purple-app-accent);


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.deepPurple_amber {
  @include angular-material-theme($deepPurple-app-theme);
}

.indigo_pink {
  @include angular-material-theme($indigo-app-theme);
}

.pink_blueGrey {
  @include angular-material-theme($pink-app-theme);
}

.purple_green {
  @include angular-material-theme($purple-app-theme);
}