<div class="testPlanTree">
  <!-- <mat-form-field class="example-form-field">
    <input matInput type="text" id="filter" #filter (keyup)="tree.treeModel.filterNodes(filter.value)"
      placeholder="Filter" [(ngModel)]="filterValue"/>
    <button mat-button *ngIf="filterValue" matSuffix mat-icon-button aria-label="Clear" (click)="tree.treeModel.clearFilter(); filterValue=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field> -->
  <p-tree [value]="testPlanTree" [contextMenu]="cm" [filter]="true"></p-tree>
  <p-contextMenu #cm [model]="items" appendTo="body"></p-contextMenu>
</div>